* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #FFEFDB;
  font-family: 'Sunshiney', cursive;
}

main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: #ECBF70;
  position: relative;
  font-size: 100px;
  text-align: center;
  font-weight: 400;
}

main h1::before {
  content: 'Vitória';
  color: #60602B;
  position: absolute;
  top: -4px;
  left: -4px;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.a {
  position: absolute;
}

/* Parte de Cima */

.a-1 {
  top: 151px;
  left: -111px;
}

.a-2 {
  top: 168px;
  left: 41px;
}

.a-3 {
  top: 228px;
  right: 96px;
}

.a-4 {
  top: 91px;
  left: 1px;
}

.a-5 {
  top: -14px;
  left: -32px;
}

.a-6 {
  top: 138px;
  left: 95px;
}

.a-7 {
  top: 273px;
  right: -13px;
}

.a-8 {
  top: 3px;
  left: 85px;
}

.a-9 {
  top: -66px;
  left: 80px;
}

.a-10 {
  top: 45px;
  right: 120px;
}

.a-11 {
  top: 235px;
  left: 106px;
}

.a-12 {
  top: 112px;
  left: 173px;
}

.a-13 {
  top: -8px;
  right: 18px;
}

.a-14 {
  top: 65px;
  right: -12px;
}

.a-15 {
  top: 155px;
  right: -10px;
}

/* Parte de Baixo */
.a-16 {
  bottom: 157px;
  left: 120px;
}

.a-17 {
  bottom: 94px;
  right: -5px;
}

.a-18 {
  bottom: -11px;
  left: -19px;
}

.a-19 {
  bottom: 222px;
  left: -12px;
}

.a-20 {
  bottom: -40px;
  right: 79px;
}

.a-21 {
  bottom: -20px;
  right: -20px;
}

.a-22 {
  bottom: 222px;
  right: -16px;
}

.a-23 {
  bottom: 186px;
  right: 78px;
}

.a-24 {
  bottom: 2px;
  left: 125px;
}

.a-25 {
  bottom: 232px;
  left: 128px;
}

.a-26 {
  bottom: 79px;
  right: 105px;
}

.a-27 {
  bottom: 50px;
  left: 63px;
}

.a-28 {
  bottom: 83px;
  left: -7px;
}

.a-29 {
  bottom: 152px;
  left: 12px;
}

.a-30 {
  bottom: 204px;
  left: 53px;
}